In [ ]:
import pandas as pd

In [ ]:
mydataset = {
    'Product': [
        'Laptop', 'Desktop', 'Tablet', 'Smartphone', 'Printer',
        'Laptop', 'Desktop', 'Tablet', 'Smartphone', 'Printer'
    ],
    'Quantity': [
        2, 1, 3, 2, 1,
        1, 2, 2, 1, 3
    ],
    'Price': [
        1200, 800, 500, 1000, 300,
        1200, 800, 500, 1000, 300
    ],
    'Region': [
        'North', 'South', 'West', 'East', 'North',
        'South', 'West', 'East', 'North', 'South'
    ]
}
var = pd.DataFrame(mydataset)
var['Total_Sale'] = var['Quantity'] * var['Price']
print(var)
# myvar.drop(myvar.index, inplace=True)
# myvar.drop(columns=[i for i in check_myvar.columns])
# myvar = myvar.drop(columns=['Product','Quantity','Price','Region','Total_Sale'])
# print(myvar)

      Product  Quantity  Price Region  Total_Sale
0      Laptop         2   1200  North        2400
1     Desktop         1    800  South         800
2      Tablet         3    500   West        1500
3  Smartphone         2   1000   East        2000
4     Printer         1    300  North         300
5      Laptop         1   1200  South        1200
6     Desktop         2    800   West        1600
7      Tablet         2    500   East        1000
8  Smartphone         1   1000  North        1000
9     Printer         3    300  South         900

In [ ]:
#Finding total sales product wise
product_sales = var.groupby('Product')['Total_Sale'].sum()
print(product_sales)

Product
Desktop       2400
Laptop        3600
Printer       1200
Smartphone    3000
Tablet        2500
Name: Total_Sale, dtype: int64

In [ ]:
# Calculate the average ales price for each product
average_sales = var.groupby('Product')['Total_Sale'].mean()
print(average_sales)

Product
Desktop       1200.0
Laptop        1800.0
Printer        600.0
Smartphone    1500.0
Tablet        1250.0
Name: Total_Sale, dtype: float64

In [ ]:
# Identify the product ith highest sales
print(product_sales.max())

3600

In [ ]:
# calculate the total sales for eaxh region
region_sales = var.groupby('Region')['Total_Sale'].sum()
print(region_sales)

Region
East     3000
North    3700
South    2900
West     3100
Name: Total_Sale, dtype: int64

In [ ]:
# Identify the region with hhighest total sales
print(region_sales.max())

3700